@model eShop.Web.ViewModels.PageViewModel

@{
    //Model.PageTitle = "PP.Register.Title".LocalizedString();
    //Model.PageDescription = "PP.Register.Description".LocalizedString().Replace("{application}", ConfigurationsHelper.ApplicationName);
    Model.PageTitle = "Despre noi";
    Model.PageURL = Url.StaticPage("AboutUs");
    Model.PageImageURL = PictureHelper.PageImageURL("about-us.jpg");
}

<div class="register-login-section spad">
    <div class="container" id="register-container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="login-form page-content-holder">
                    <div class="page-content-header">
                        <h2>@Model.PageTitle</h2>
                    </div>
                    <section class="section-margin--small">
                        <div class="container">
                            <div class="row">
                                <div class="col col-12">
                                    <p>Porttitor odio et vel pretium mi faucibus pretium fermentum ornare dolor scelerisque quisque bibendum lacus fermentum dictumst habitant bibendum congue.</p>
                                    <p>Lobortis lacus phasellus pharetra orci fringilla tellus fames laoreet mus platea leo nascetur tempus nunc tempor cras porttitor porta aenean."</p>
                                    <p>Ante potenti lobortis integer potenti velit aliquet ad non malesuada iaculis fermentum est ullamcorper nec adipiscing mauris sagittis ultricies per.</p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <hr />
                    <section class="mb-5">
                        <div class="container">

                            <div class="row">
                                <div class="col col-12 py-5 text-center">
                                    <h3>Echipa noastră</h3>
                                    <p>
                                        Aflați mai multe despre noi și despre munca grozavă pe care o facem aici la eShop.
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-12">
                                    <div class="card-group">
                                        <div class="card">
                                            <div class="card-header">
                                                Fondator &amp; Director de operațiuni
                                            </div>
                                            <img class="card-img-top rounded-0" src="~/Content/images/site/team/person1.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <h5 class="card-title">Jon Doe</h5>
                                                <p class="card-text">
                                                    Laoreet primis vestibulum morbi tempor facilisi montes est habitant quisque penatibus ullamcorper montes eu cum mauris semper eu faucibus amet.
                                                </p>
                                            </div>
                                            <div class="card-footer text-muted">
                                                <i class="fas fa-envelope mr-1"></i>
                                                <a href="mailto:ceo@eshop.com">Contactați-mă</a>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header">
                                                Director de marketing
                                            </div>
                                            <img class="card-img-top rounded-0" src="~/Content/images/site/team/person2.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <h5 class="card-title">Jane Doe</h5>
                                                <p class="card-text">
                                                    Maecenas ac suspendisse per mollis nostra mi suscipit facilisi parturient ac non adipiscing sociosqu lacinia sed turpis quis justo senectus.
                                                </p>
                                            </div>
                                            <div class="card-footer text-muted">
                                                <i class="fas fa-envelope mr-1"></i>
                                                <a href="mailto:cmo@eshop.com">Contactați-mă</a>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header">
                                                Director Tehnic
                                            </div>
                                            <img class="card-img-top rounded-0" src="~/Content/images/site/team/person3.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <h5 class="card-title">Dave Alvin</h5>
                                                <p class="card-text">
                                                    Ullamcorper donec pulvinar tristique pharetra aptent habitasse venenatis lacinia nisi scelerisque tristique sollicitudin metus dui dapibus elit eleifend himenaeos phasellus.
                                                </p>
                                            </div>
                                            <div class="card-footer text-muted">
                                                <i class="fas fa-envelope mr-1"></i>
                                                <a href="mailto:cto@eshop.com">Contactați-mă</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

