@model eShop.Web.ViewModels.PageViewModel

@{
    //Model.PageTitle = "PP.Register.Title".LocalizedString();
    //Model.PageDescription = "PP.Register.Description".LocalizedString().Replace("{application}", ConfigurationsHelper.ApplicationName);
    Model.PageTitle = "Politica de confidențialitate";
    Model.PageURL = Url.StaticPage("PrivacyPolicy");
    Model.PageImageURL = PictureHelper.PageImageURL("privacy-policy.jpg");
}

<div class="register-login-section spad">
    <div class="container" id="register-container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="login-form page-content-holder">
                    <div class="page-content-header">
                        <h2>@Model.PageTitle</h2>
                    </div>
                    <section class="section-margin--small">
                        <div class="container">
                            <div class="row">
                                <div class="col col-12">
                                    <div class="inner-content">
                                        <p>
                                            Bine ați venit pe site-ul  @ConfigurationsHelper.ApplicationName  ("Site"). Condimentum cursus tristique mattis sapien hac enim vivamus leo elit.
                                        <br><br>Iaculis aenean curabitur ante, elementum eu sed inceptos pulvinar orci.</p>
                                        <p><strong>1. Datele colectate de noi&nbsp;</strong></p>
                                        <p>
                                            Habitant erat magna; ullamcorper dapibus congue non inceptos praesent nec.
                                            <br><br>Aenean at erat magna elit non mi lectus magnis magnis.
                                            <br><br>Ultrices quis vel tempor id condimentum vulputate nisl, duis turpis ridiculus. Enim iaculis ad non netus euismod litora eleifend non laoreet quisque, massa dapibus. Tempus nisl non erat hendrerit suscipit libero massa. Commodo aliquet mauris rhoncus pellentesque lobortis commodo lobortis cras quam vehicula hendrerit cum.
                                            <br><br>Mi nec porttitor pharetra inceptos curae; nec ridiculus purus? Morbi gravida dolor volutpat primis id nascetur. Facilisis convallis, id maecenas curae; interdum elit faucibus eleifend nunc. Cum sodales magnis fermentum vehicula primis aenean et ante dis aptent? Nisi molestie, lobortis enim.
                                            <br><br>Fusce ultrices mollis arcu massa quisque at. Eleifend, elit class quis placerat auctor. Malesuada sodales nascetur, id in tellus? Vivamus dolor platea sagittis maecenas hendrerit nibh sed nunc amet velit lectus a. A lacinia leo molestie malesuada neque. Elementum condimentum hendrerit.
                                            <br><br>Tempus nisl non erat hendrerit suscipit libero massa.&nbsp;
                                        </p>
                                        <p>
                                            Odio inceptos platea aenean elementum felis primis mi varius. Habitasse sagittis eget non diam consectetur quis tincidunt sociis litora orci. Id, fusce velit sociosqu auctor tincidunt donec facilisis! Diam platea mus elementum integer sem nec nisl id? Magnis orci scelerisque senectus sociis aptent mi.
                                            <br><br>Leo phasellus primis vitae quisque massa congue aliquam. Tortor netus sapien facilisis. Eget porttitor quis est venenatis massa lectus egestas curabitur venenatis dictum fringilla. Montes orci cum iaculis. Aptent gravida etiam egestas fermentum morbi gravida arcu lacus velit porta.
                                            <br><br>Imperdiet metus blandit euismod sagittis neque. Convallis eleifend fusce facilisis nisl donec sociis lacus. Cubilia sodales fringilla, venenatis dapibus sit.
                                     
                                        </p>
                                      
                                        <p><strong>2. Cookies </strong></p>
                                        <p>
                                            Auctor dignissim lacinia quam lobortis dictum sagittis fusce ligula. Sociis, morbi ultrices sagittis vestibulum class. Dictumst praesent vivamus nibh sed lacinia enim condimentum class metus eleifend et.
                                            <br><br>Primis hac risus in mi aliquet integer penatibus conubia? Dapibus adipiscing feugiat ante venenatis elit ligula quam sem.<br>
                                        </p>
                                        <p><strong>3. Securitate </strong></p>
                                        <p>Diam aptent cursus potenti dignissim velit rhoncus porttitor arcu turpis gravida. Iaculis id per accumsan, at cras rutrum facilisi non. Interdum hendrerit eleifend volutpat mattis bibendum eros himenaeos semper cubilia. Fusce himenaeos hendrerit metus congue curae; lectus elit mattis. Ligula netus aenean elit proin. <br>&nbsp;</p>
                                        <p><strong>4. Drepturi </strong></p>
                                        <p>
                                            Risus parturient sagittis egestas maecenas accumsan, mauris pellentesque est proin primis placerat pharetra. Parturient sociis duis tempor duis cubilia aliquam. Urna.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

